
@{
    ViewBag.Title = "BusinessLicense";
}

<div class="rs-breadcrumbs img1" style="height: 350px;">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Business License in Dubai
                <span class="watermark">Services</span>
            </h1>
            @*<span class="sub-text">
                    Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official
                    modeserunt mollit anim id est laborum 20 years experience.
                </span>*@
        </div>
    </div>
</div>
<div class="rs-about pb-50 md-pb-70 mt-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="images-part">
                    <img src="~/Content/assets/images/project/pro-final.png" alt="Images">
                </div>
            </div>
            <div class="col-lg-6 pr-50 md-pr-15">
                <div class="sec-title" style="text-align: justify;">
                    <h2 class="title title4 pb-10">
                        Business License in Dubai
                    </h2>
                    <p class="margin-0 pb-10">
                        There are many advantages in setting up a business in Dubai and to enjoy the benefits one should have a license.
                    </p>

                    <p class="margin-0 pb-10">
                        <b> How to obtain a Business License in Dubai?</b>
                    </p>
                    <p class="margin-0 pb-10">
                        The document that permits you to carry out business is called business license, also as an evidence of your skill and expertise. Department of Economic Development (DED) issues license.
                    </p>
                    <p class="margin-0 pb-10">
                        <b>  Categories of Business Licenses in Dubai</b>
                    </p>
                    <p class="margin-0 pb-10">
                        The three types of licenses offered in Dubai are:
                    </p>

                    <div class="rs-faq faq-home-style5 gray-bg7  md-pt-70 md-pb-70">
                        <div class="content-part">
                            <div class="faq-content">
                                <div id="accordion" class="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false">Commercial License</a>
                                        </div>
                                        <div id="collapseOne" class="collapse" data-bs-parent="#accordion" style="">
                                            <div class="card-body mt-30">
                                                <p>A commercial license has to be obtained by entrepreneurs who wish to conduct trading activities in Dubai. The business activities under this license are:</p>
                                                <ul class="dots">

                                                    <li>Commercial brokerage services</li>
                                                    <li>Importing & exporting goods</li>
                                                    <li>Real Estate</li>
                                                    <li>Rent-a-car services</li>
                                                    <li>Retail stores</li>
                                                    <li>Selling electronic products</li>
                                                    <li>Selling of construction material</li>

                                                </ul>
                                                <p class="margin-0 pb-10">
                                                    The most common type of organizations set up under a commercial license is The Legal Liability Companies (LLCs) and the license can be used either on shore or in free zone.
                                                </p>
                                                <p class="margin-0">
                                                    <b>  How to obtain a Commercial License in Dubai?</b>
                                                </p>
                                                <ul class="dots">

                                                    <li>Firstly, list of the activities you intend to carry out has to be established to obtain a commercial license.</li>
                                                    <li>The next stage is writing a Memorandum of Agreement (MOA) outlining the activities.</li>
                                                    <li>The third stage is to register the business with the Department of Economic Development.</li>
                                                    <li>You’ll need to pay the money and apply for a commercial license, after you’ve completed the registration process.</li>


                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">Industrial License</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion" style="">
                                            <div class="card-body mt-30">
                                                <p class="margin-0">
                                                    Industries undertaking manufacture activities like Production, Segregation, Accumulation, Packaging get this type of license.
                                                </p>
                                                <p class="margin-0">
                                                    <b>  How to obtain an Industrial License in Dubai?</b>
                                                </p>
                                                <p class="margin-0">
                                                    Industrial license to business-owners is provided by the DED. The eligibility for license has few prerequisites like:
                                                </p>
                                                <ul class="dots">

                                                    <li>Local Sponsor</li>
                                                    <li>The company share of 51% should be held by an Emirati, Office Space (Physical office should have a space).</li>
                                                    <li>Local Industrial License</li>
                                                    <li>Local license have to be obtained from the company’s area of operation.</li>
                                                    <li>Minimum Capital Requirement- The minimum requirement for the share capital is around AED 250,000.</li>
                                                    <li>Number of Workers-   Lastly, there should be more than 10 workers in the company.</li>
                                                </ul>
                                                <p class="margin-0">
                                                    <b>  Procedure for Industrial License in Dubai:</b>
                                                </p>
                                                <ul class="dots">

                                                    <li>To begin, documents must be submitted to the DED for preliminary approval.</li>
                                                    <li>You can apply for an industrial license after receiving clearance that could take up to three months.</li>
                                                    <li>Permissions from the municipality and other authorities have to be obtained.</li>
                                           
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">Professional License</a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-bs-parent="#accordion" style="">
                                            <div class="card-body mt-30">
                                                <p class="margin-0 pb-10">
                                                    Depending on abilities and knowledge, Individuals are granted the third and final sort of license the most significant benefit of a professional license is that it permits 100% foreign ownership. The only stipulation is that your service agent must be a local.
                                                </p>
                                                <p class="margin-0 pb-10">
                                                    <b> How to Obtain a Professional License in Dubai?</b>
                                                </p>
                                                <p class="margin-0 pb-10">
                                                    The professional license in Dubai is provided by the Department of Economic Development.
                                                </p>
                                                <p class="margin-0 pb-10">
                                                    <b>The process for obtaining the license is includes:</b>
                                                </p>
                                                <ul class="dots">

                                                    <li>Make a list of business activities for the professional license which you will undertake.</li>
                                                    <li>Service agent appointment.</li>
                                                    <li>Submission of documents to the DED for initial approval.</li>
                                                    <li>Trade name application and registration.</li>
                                                    <li>Renting office space and submission of documents.</li>
                                                </ul>
                                            </div>
                                         
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

