
@{
    ViewBag.Title = "Services";
}



<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img6">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Business Setup Services
            </h1>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Services Section Start -->
<div class="rs-services style2 rs-services-style2 gray-bg pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container custom">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-20">
                <a href="/Home/MainlandSetupinDubai">
                    <div class="service-wrap">
                        <div class="image-part">
                            <img src="~/Content/assets/images/services/style2/1.jpg" alt="">
                        </div>
                        <div class="content-part">
                            <h3 class="title"><a href="/Home/MainlandSetupinDubai">Mainland Business Setup in Dubai</a></h3>
                            <div class="desc" style="text-align: justify;">
                                If you are ready to be an entrepreneur and start your own business in Dubai, we are here to help at every step.
                            </div>
                            <div class="blog-button">
                            <a class="blog-btn" href="/Home/MainlandSetupinDubai">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
                <a href="/Home/Freezone">
                    <div class="service-wrap">
                        <div class="image-part">
                            <img src="~/Content/assets/images/services/style2/2.jpg" alt="">
                        </div>
                        <div class="content-part">
                            <h3 class="title"><a href="/Home/Freezone">Freezone Company Formation in Dubai</a></h3>
                            <div class="desc" style="text-align: justify;">
                                Free zones are also known as free trade zones, which allows international business and provides 100% ownership
                            </div>
                            <div class="blog-button">
                            <a class="blog-btn" href="/Home/Freezone">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
                <a href="/Home/BusinessLicense">
                    <div class="service-wrap">
                        <div class="image-part">
                            <img src="~/Content/assets/images/services/style2/3.jpg" alt="">
                        </div>
                        <div class="content-part">
                            <h3 class="title"><a href="/Home/BusinessLicense">Business License in<br /> Dubai</a></h3>
                            <div class="desc" style="text-align: justify;">
                                There are many advantages in setting up a business in Dubai and to enjoy the benefits one should have a license.
                            </div>
                            <div class="blog-button">
                            <a class="blog-btn" href="/Home/BusinessLicense">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 md-mb-20">
                <a href="/Home/ProService">
                    <div class="service-wrap">
                        <div class="image-part">
                            <img src="~/Content/assets/images/services/style2/4.jpg" alt="">
                        </div>
                        <div class="content-part">
                            <h3 class="title"><a href="/Home/ProService">Pro Services in Dubai</a></h3>
                            <div class="desc" style="text-align: justify;">
                                UAE is quite possibly the most invertor backer location to begin a business, yet legitimate documentation
                            </div>
                            <div class="blog-button">
                            <a class="blog-btn" href="/Home/ProService">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-20">
                <a href="/Home/BusinessSponsor">
                    <div class="service-wrap">
                        <div class="image-part">
                            <img src="~/Content/assets/images/services/style2/5.jpg" alt="">
                        </div>
                        <div class="content-part">
                            <h3 class="title"><a href="/Home/BusinessSponsor">Business Sponsor in Dubai</a></h3>
                            <div class="desc" style="text-align: justify;">
                                We offer you dependable and reliable business sponsorship services in the UAE.
                            </div>
                            <div class="blog-button">
                            <a class="blog-btn" href="/Home/BusinessSponsor">Continue Reading</a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="/Home/BankAssistance">
                    <div class="service-wrap">
                        <div class="image-part">
                            <img src="~/Content/assets/images/services/style2/6.jpg" alt="">
                        </div>
                        <div class="content-part">
                            <h3 class="title"><a href="/Home/BankAssistance">Bank Assistance in Dubai</a></h3>
                            <div class="desc" style="text-align: justify;">
                                One of the first few things to do on your arrival in UAE is to open a bank account! It’s not very difficult to open a bank 
                            </div>
                            <div class="blog-button">
                            <a class="blog-btn" href="/Home/BankAssistance">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Services Section End -->
